.experiencia .btn-group-vertical {
    max-width: 280px;
}

.experiencia-hover:hover {
    background-color: #0dcaf0 !important;
    color: black !important;

}

@media (max-width:991px) {
    .experiencia .btn-group-vertical {
        margin-bottom: 20px;
    }

    .experiencia .role-duration {
        flex-direction: column;
    }

    .experiencia-info {
        text-align: center;
    }
}