header {
  height: 100vh;
  display: flex;
  overflow-x: auto;
  background-image: url('aa2.png');
  background-size: cover;
}

header a {
  text-decoration: none;
}

.header-title {
  font-size: 4.5rem;
  text-transform: uppercase;
  margin: 0;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  color: #0072e4;
  font-family: "poppins-medium", sans-serif;

}

.header-subtitle {
  font-size: 2.5rem;
  margin: 0;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

.header-title-image {
  width: 100%;
  max-width: 620px;
  margin: 0;
}

.header-icons {
  max-width: 260px;
}

.header-icon {
  font-size: 36px;
}


@media (max-width:992px) {
  .header-title-image {
    display: none;
  }

  .header-title,
  .header-subtitle {
    text-align: center;
  }
}

/*#0085e4*/
/*#0072e4*/
/*font-family: "Inter", sans-serif;
  letter-spacing: 1px;*/


/* Float */
.header-title-hover {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.header-title-hover:hover,
.header-title-hover:focus,
.header-title-hover:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);

}
@media only screen and (max-width: 1024px) {
  .intro-content h1 {
    font-size: 7.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .intro-content h1 {
    font-size: 5.2rem;
  }
  .intro-content h5 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 600px) {
  #intro {
    min-height: 600px;
  }
  .intro-content h1 {
    font-size: 4.6rem;
    margin-bottom: 0.6rem;
  }
  .intro-content h5 {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    letter-spacing: 0.2rem;
  }
  .intro-social {
    font-size: 2.4rem;
  }
}

.section-intro h1 {
  font-family: "poppins-semibold", serif;
  font-size: 3.6rem;
  color: #002b33;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}
.intro-content h1 {
  color: #ffffff;
  font-family: "poppins-medium", sans-serif;
  font-size: 8.4rem;
  line-height: 1.071;
  max-width: 900px;
  margin-top: 0;
  margin-bottom: 0.6rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  .section-intro {
    max-width: 650px;
  }
  .section-intro h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .section-intro h1 {
    font-size: 2.6rem;
  }
  .section-intro h5 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
  }
}
@media only screen and (max-width: 400px) {
  .section-intro h1 {
    font-size: 2.4rem;
  }
}


h1,
h2,
h3,
h4,
h5,
h6,
.h01,
.h02,
.h03,
.h04,
.h05,
.h06 {
  font-family: "poppins-semibold", sans-serif;
  color: #002b33;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-bottom: 2.1rem;
}
h3,
.h03,
h4,
.h04 {
  margin-bottom: 1.8rem;
}
h5,
.h05,
h6,
.h06 {
  font-family: "poppins-bold";
  margin-bottom: 1.2rem;
}
h1,
.h01 {
  font-size: 3.1rem;
  line-height: 1.355;
  letter-spacing: -0.1rem;
}
@media only screen and (max-width: 600px) {
  h1,
  .h01 {
    font-size: 2.6rem;
    letter-spacing: -0.07rem;
  }
}
h2,
.h02 {
  font-size: 2.4rem;
  line-height: 1.25;
}
h3,
.h03 {
  font-size: 2rem;
  line-height: 1.5;
}
h4,
.h04 {
  font-size: 1.7rem;
  line-height: 1.765;
}
h5,
.h05 {
  font-size: 1.4rem;
  line-height: 1.714;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
h6,
.h06 {
  font-size: 1.3rem;
  line-height: 1.846;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}