.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-image: url('intro-bg.jpg');
}

header {
    height: 100vh;
    position: relative;
    color: #fff;
}

header .intro-content {
    text-align: center;
    position: absolute;
}

header .overlay-itro {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
}

header .intro-title {
    color: #fff;
    font-weight: 600;
    font-size: 4.5rem;
}

header .intro-title span {
    color: var(--color-primary);
}

@media (max-width: 991px) {
    header .intro-title {
        font-size: 3.8rem;
    }
}

@media (max-width: 767px) {
    header .intro-title {
        font-size: 2.850rem;
    }
}

@media (max-width: 534px) {
    header .intro-title {
        font-size: 2.5rem;
    }

    header .display-6 {
        font-size: 1.8rem;
    }
}

@media (max-width: 471px) {
    header .intro-title {
        font-size: 2.2rem;
    }
}

@media (max-width: 418px) {
    header .intro-title {
        font-size: 2rem;
    }
}

@media (max-width: 382px) {
    header .intro-title {
        font-size: 1.8rem;
    }
}

header .intro-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}

header .display-table {
    width: 100%;
    height: 100%;
    display: table;
}

header .table-cell {
    display: table-cell;
    vertical-align: middle;
}

header .display-6 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.1;
}

header .header-icons {
    max-width: 275px;
}

header .header-icon {
    font-size: 32px;
    color: white;
    transition: all 0.2s ease 0s;
    text-shadow: 0 0 0.2em black, 0 0 0.2em var(--color-secondary) !important;
}

header .header-icon:hover {
    color: var(--color-secondary);
}