header {
  height: 100vh;
  display: flex;
  overflow-x: auto;
  /*background-image: url('aa2.png');*/
  background-size: cover;
}

.header-title {
  font-family: "Inter", sans-serif;
  letter-spacing: 1.5px;
  font-size: 58px;
}

.header-subtitle {
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}

.header-icons {
  max-width: 260px;
}

.header-icons a {
  font-size: 32px;
}

.header-icons a,
.header-icons a:visited {
  color: #ffffff;
}

.header-icons a:hover,
.header-icons a:focus {
  color: #0072e4;
}

.header-image {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 991px) {
  header {
    text-align: center !important;
  }

  .header-image {
    display: none;
  }

  .header-icons {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .header-title {
    font-size: 52px;
  }
}

@media (max-width: 575px) {
  .header-title {
    font-size: 48px;
  }
}

/*#0085e4*/
/*#0072e4*/