.habilidades .progress {
    height: 12.5px;
    background-color: var(--royal-blue-50) !important;
}

.habilidades .progress-bar {
    background-color: var(--royal-blue-400) !important;
}

.habilidades .skill_progress_95 {
    width: 95%;
}

.habilidades .skill_progress_90 {
    width: 90%;
}

.habilidades .skill_progress_85 {
    width: 85%;
}

.habilidades .skill_progress_80 {
    width: 80%;
}

.habilidades .skill_progress_70 {
    width: 70%;
}

.habilidades .skill_progress_60 {
    width: 60%;
}

.habilidades .skill_progress_55 {
    width: 55%;
}

.habilidades .skill_progress_50 {
    width: 50%;
}

.habilidades .skill_progress_45 {
    width: 45%;
}

.habilidades .skill_progress_40 {
    width: 40%;
}