.habilidades .habilidade-icon {
    font-size: 48px;
    color: var(--color-primary);
}

.habilidades .accordion-button {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-color: none !important;
    border: none;
    box-shadow: none;
}

.habilidades .accordion-button:active,
.habilidades .accordion-button:hover,
.habilidades .accordion-button:focus {
    border-color: none;
    box-shadow: none;
}

.habilidades .progress {
    height: 12.5px;
    background-color: var(--color-gray) !important;
}

.habilidades .progress-bar {
    background-color: var(--color-primary) !important;
}

.habilidades .skill-icon {
    max-width: 32px;
}

.habilidades .skill_progress_95 {
    width: 95%;
}

.habilidades .skill_progress_90 {
    width: 90%;
}

.habilidades .skill_progress_85 {
    width: 85%;
}

.habilidades .skill_progress_80 {
    width: 80%;
}

.habilidades .skill_progress_70 {
    width: 70%;
}

.habilidades .skill_progress_60 {
    width: 60%;
}

.habilidades .skill_progress_55 {
    width: 55%;
}

.habilidades .skill_progress_50 {
    width: 50%;
}

.habilidades .skill_progress_45 {
    width: 45%;
}

.habilidades .skill_progress_40 {
    width: 40%;
}