.teste {
   
    font-size: 48px;
    width: 60px;    
   
}

.carousel {
    min-height: 320px;
    max-width: 1400px;
}

.carousel-inner {
    max-width: 1000px;
}
.btn-group-vertical {
    max-width: 280px;
}
.jobs {
    min-height: 240px;
}
@media (max-width:991px){
    .btn-group-vertical {
        margin-bottom: 20px;
    }
    .role-duration {
        flex-direction: column;        
    }
    .jobs {
        text-align: center;
     
        margin-bottom: 28px;
    }/*
    .works {
        flex-direction: column;
    }*/
}