.projetos .projeto-icons {
    max-width: 158px;
}

.projetos .projeto-img {
    width: 100%;
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

@media (min-width: 992px) {
    .projeto .projeto-img:hover {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    .projetos .projeto-img {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 991px) {
    .projetos .projeto-img {
        max-width: 385px;
    }
}

@media (max-width: 767px) {
    .projetos .projeto-img {
        max-width: 375px;
    }
}

@media (max-width: 534px) {
    .projetos .projeto-img {
        max-width: 360px;
    }
}

@media (max-width: 471px) {
    .projetos .projeto-img {
        max-width: 340px;
    }
}

@media (max-width: 371px) {
    .projetos .projeto-img {
        max-width: 320px;
    }
}