.projeto {
    margin-bottom: 3.4rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    cursor: pointer;
    max-width: 385px;
    overflow: hidden;
}

.projeto-icons {
    max-width: 158px;
}

.projeto-img {
    width: 100%;
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

@media (min-width: 992px) {
    .projeto-img:hover {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    .projeto-img {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 991px) {
    .projeto-img {
        max-width: 385px;
    }
}

@media (max-width: 767px) {
    .projeto-img {
        max-width: 345px;
    }
}

@media (max-width: 534px) {
    .projeto-img {
        max-width: 340px;
    }
}

@media (max-width: 471px) {
    .projeto-img {
        max-width: 335px;
    }
}