.eu-img {
    max-width: 328px;
}

@media (max-width: 991px) {
    .eu-img {
        max-width: 310px;
        margin-bottom: 28px;
    }
}

@media (max-width: 767px) {
    .eu-img {
        max-width: 285px;
    }
}

@media (max-width: 534px) {
    .eu-img {
        max-width: 278px;
    }
}

@media (max-width: 471px) {
    .eu-img {
        max-width: 262px;
    }
}

@media (max-width: 418px) {
    .eu-img {
        max-width: 258px;
    }
}

@media (max-width: 382px) {
    .eu-img {
        max-width: 248px;
    }
}


.about-icon {
    font-size: 24px;
    color: var(--color-primary);
}