.contato {
  background-image: url('../../assets/images/bg-contato.jpg');
}

.contato a {
  text-decoration: none;
}

.contato .contact-item {
  cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.contato .contact-item h5 {
  color: var(--royal-blue-600);
}

.contato .contact-icon {
  font-size: 48px !important;
}

@media (min-width: 768px) {

  .contato .contact-item:hover,
  .contato .contact-item:focus,
  .contato .contact-item:active {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }
}

footer {
  text-align: center;
  color: #fff;
}

footer .social {
  max-width: 262px;
}

footer .social-icon {
  height: 42px;
  width: 42px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0 0 0 3px var(--royal-blue-500);
  transition: all 500ms ease;
  background-color: var(--royal-blue-500);
  color: white;
}

footer .social-icon:hover {
  box-shadow: 0 0 0 3px #cde1f8;
  transition: all 500ms ease;
}