:root {
  --color-black: #252525;
  --color-primary: #4438b7;
  --color-secondary: #7a73cc;
  --color-tertiary: #5338b7;
  --color-quaternary: #aca5f3;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
